body{
	margin:0;
	padding:0;
	background:url("https://media.istockphoto.com/id/1395154878/photo/sandals-sunglasses-and-sunhat-on-sand-background.jpg?s=612x612&w=0&k=20&c=_mq35C2kB_lVkudwd0DnJ066hMMGP07K0M-L034p9eU=") ;
	
	background-size:cover;
	background position:center ;
	font-family:sans-serif ;



}
.logininbox{
	width:320px;
	height:420px;
	background:transparent;
	color:rgb(7, 2, 2) ;
	top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding:70px 30px ;
	

}
.avater{
	width:100px ;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);

}
h1{
	margin: 0;
	padding: 0;
	text-align:center;
	font-size: 22px;
}
.logininbox p{
	margin: ;
	padding: 0;
	font-weight:bold;

}
.logininbox input{
	weight: 100%;
	margin-bottom: 20px;

}
.logininbox input[type="text"],[type="password"]
{
	border:none ;
	border-bottom:1px solid rgb(248, 188, 188);
	background:transparent;
	outline: none;
	height: 40px;
	color: rgb(199, 141, 141);
	font-size:16px ;
}
.logininbox input[type="submit"]
{
	border: none;
	outline: none;
	height:40px;
	background: #fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
width: 250px;
align-content: center;
}
.logininbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.logininbox a{
	text-decoration: none;
	font-size: 12px;
	line-height:20px ;
	color: rgb(114, 74, 74);
}
.logininbox a:hover{
	color: #ffc107;
}
.logininbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}


